






body{
	background-color:#fff;

}
/*bar*/
.container-fluid {
    background : ##129786;
    color: #959595

}
/*content*/
#title {
  
  color:#000;
}
.container.marketing {
    background:#fff;
}
/*btn*/ 
.btn-top {
  color: #fff;
  background-color:#d96200;
  border-color:#c3c2c2 ;
  border-width:0px;

}
.btn-top:hover {
    color:#fff ;
    background-color:#ff5a19 ;
    border-color: ;
}



/*文字*/

li >a >h4{
  color:#000;
  padding-top:13px;
  padding-bottom: 10px;
  font-weight: 900 !important;
 font-size: 28px;

}
li>a[href="index.html"] > h4
{

  border :2px solid #000;
  color: #000;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left:15px;
  border-radius: 0.25em;
}
li>a[href="index.html"]:hover > h4
{
  color: #ffffff;
  border :2px solid #ffffff;
  font-weight:bold;

}
li>a:hover > h4
{
  color: #ffffff;
font-weight:bold; 

}
/*水平線*/
.row.vertical-divider > div[class^="col-"] {

border-left: 3px solid #Fff9f8;
border-right: 3px solid #Fff9f8;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
/*房東創業者*/
#home h1, #enterprise h1 {
    color: #101010;
}

#brand {
    font-size: 50px;
 
    color: #000;
    padding-top: 10%;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: bold;
  font-style: normal;
  font-size: 100px;
 /* Preferred icon size */

  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

div#enterprise{
    padding-left:50px;
}
ul.dropdown-menu {
    background-color: #fff;
}
ul.dropdown-menu>li:hover>a{
  background-color: #959595 ;

}
div>ul>li>ul>li>ul.dropdown-menu> li > a > h4 {
  font-weight:bold !important;

  font-size:  20px
}
div>ul>li>ul>li>ul.dropdown-menu> li > a > h4{
  font-weight:bold !important;
  font-size:  20px
}
.dropdown-menu{
  min-width: 180px
}
#top{
    font-size: 40px;
}
#top top1,#top2,#top3,#top4,#top5{
  background-color: #ff0700;
  color: #fff;
  border-radius: 20px
}

.btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}


/*註釋Nte*/
#note{
  font-size: 20px
}

/*mainbar*/
#mainbar{
  background-color: #199684;
  color :#434343;
  border-color: #199684
}
/*sidebar;*/
#sidebar-wrapper{
  background-color: #efb523;
}
/*sidebar content*/
.sidebarC{
  
  color:#434343;
}

/*mainbar font color*/
